<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TypeRicer | Admin Database</title>

    <script src="/jquery.js"></script>
    <script src="/admin.js"></script>
    <script src="/bootstrap.js"></script>
    <link rel="stylesheet" href="/scss/bootstrap.css">
    <link rel="stylesheet" href="/AdminDatabase.css">

    <script>
        var data = "<%= object %>"
    </script>
</head>

<body onload="createTable(data)">

    <div class="modal" id="deleteConfirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-sm btn-danger" data-dismiss="modal">
                        Close
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                Are you sure you want to Delete this text?
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <input type="button" class="form-control form-control-sm" value="Yes" onclick="remove()">
                            </div>
                            <div class="col">
                                <input type="button" class="form-control form-control-sm " value="No"
                                    data-dismiss="modal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-sm btn-danger" data-dismiss="modal">
                        Close
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                Are you sure you want to Logout?
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <a href="/logout" id="logoutButton">
                                    <input type="button" class="form-control form-control-sm" value="Yes">
                                </a>
                            </div>
                            <div class="col">
                                <input type="button" class="form-control form-control-sm " value="No"
                                    data-dismiss="modal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="addBox">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-sm btn-danger" data-dismiss="modal">
                        Close
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div>Enter Text Title</div>
                                <form>
                                    <input type="text" name="Title" class="form-control form-control-sm" id="addTitle">
                                </form>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <div>Enter Text Body:</div>
                                <textarea rows="10" cols="58" class="form-control form-control-sm" id="addText"></textarea>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col">
                                <input type="button" class="form-control form-control-sm btn btn-primary"
                                    value="Add" onclick="add()">
                            </div>
                            <div class="col">
                                <input type="button" class="form-control form-control-sm btn btn-secondary"
                                    value="Cancel" data-dismiss="modal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="/admin/addDatabase" method="post">
        <input type="hidden" id="newTitle" name="newTitle">
        <input type="hidden" id="newText" name="newText">
        <button type="submit" id="addData"></button>
    </form>

    <div class="modal" id="textInfo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-sm btn-danger" data-dismiss="modal">
                        Close
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div>Edit Text Title</div>
                                <form>
                                    <input type="text" name="Title" class="form-control form-control-sm" id="textTitle">
                                </form>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <div>Edit Text Body:</div>
                                <textarea rows="10" cols="58" class="form-control form-control-sm" id="textContent"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="col">
                            <input type="button" class="form-control form-control-sm btn btn-danger" value="Delete"
                                data-toggle="modal" data-target="#deleteConfirm" data-dismiss="modal">
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <input type="button" class="form-control form-control-sm btn btn-primary"
                                    value="Finish" onclick="update()">
                            </div>
                            <div class="col">
                                <input type="button" class="form-control form-control-sm btn btn-secondary"
                                    value="Cancel" data-dismiss="modal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="/admin/removeDatabase" method="post">
        <input type="hidden" id="textID" name="textID">
        <button type="submit" id="deleteData"></button>
    </form>

    <form action="/admin/updateDatabase" method="post">
        <input type="hidden" id="updateID" name="updateID">
        <input type="hidden" id="updateTitle" name="updateTitle">
        <input type="hidden" id="updateText" name="updateText">
        <button type="submit" id="updateData"></button>
    </form>

    <div id="stage">
        <div id="sideBar">
            <ul class="ButtonList">
                <a href="/admin" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText">HOME</p>
                            <img src="/Media/home.png" id="profilePic">
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
                <a href="/admin/database" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText" class="highlight">DATABASE</p>
                            <img src="/Media/database.png" id="profilePic">
                            <div id="menuLineH"></div>
                        </div>
                    </li>
                </a>
                <a href="/admin/ranking" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText">RANKINGS</p>
                            <img src="/Media/ranking.png" id="profilePic">
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
                <a href="/logout" id="menu" class="log" data-toggle="modal" data-target="#modal">
                    <li>
                        <div id="menuText">
                            <p id="profileText">LOGOUT</p>
                            <img src="/Media/logout.png" id="profilePic">
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
            </ul>
        </div>

        <div id="center">

            <div id="title">
                DATABASE
            </div>
            <button id="add" data-toggle="modal" data-target="#addBox">
                <div id="menuText">
                    <p id="profileText">ADD TEXT</p>
                    <img src="/Media/add.png" id="profilePic">
                    <div id="menuLine"></div>
                </div>
            </button>

            <div id="table">
                <div id="tableHeader">Text Titles</div>
                <div id="showData"></div>
            </div>

        </div>
    </div>
</body>

</html>