<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TypeRicer | Ranking</title>
    <script src="/jquery-3.4.1.js"></script>
    <script src="/ranking.js"></script>
    <script src="/jquery.js"></script>
    <script src="/bootstrap.js"></script>
    <script>
        var data = "<%= object %>";
    </script>
    <link rel="stylesheet" href="/scss/bootstrap.css">
    <link rel="stylesheet" href="/AdminLeaderboardStyle.css">
</head>

<body onload="setData(data)">
    <div class="modal" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-sm btn-danger" data-dismiss="modal">
                        Close
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                Are you sure you want to Logout?
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <a href="/logout" id="logoutButton">
                                    <input type="button" class="form-control form-control-sm" value="Yes">
                                </a>
                            </div>
                            <div class="col">
                                <input type="button" class="form-control form-control-sm " value="No"
                                    data-dismiss="modal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="stage">
        <div id="sideBar">
            <ul class="ButtonList">
                <a href="/admin" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText">HOME</p>
                            <img src="/Media/home.png" id="profilePic">
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
                <a href="/admin/database" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText" >DATABASE</p>
                            <img src="/Media/database.png" id="profilePic">
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
                <a href="/admin/ranking" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText" class="highlight">RANKINGS</p>
                            <img src="/Media/ranking.png" id="profilePic">
                            <div id="menuLineH"></div>
                        </div>
                    </li>
                </a>
                <a href="/logout" id="menu" class="log" data-toggle="modal" data-target="#modal">
                    <li>
                        <div id="menuText">
                            <p id="profileText">LOGOUT</p>
                            <img src="/Media/logout.png" id="profilePic">
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
            </ul>
        </div>

        <div id="center">

            <div id="leaderboard">
                RANKINGS
            </div>

            <ul id="difficultyList">
                <li id="difButtons">
                    <button id="easy" onclick="changeDif(0)">
                        EASY
                    </button>
                </li>
                <li id="difButtons">
                    <button id="medium" onclick="changeDif(1)">
                        MEDIUM
                    </button>
                </li>
                <li id="difButtons">
                    <button id="hard" onclick="changeDif(2)">
                        HARD
                    </button>
                </li>
            </ul>

            <select id="sort" onchange="sort();">
                <option value="name">Sort by Name</option>
                <option value="wpm">Sort by WPM</option>
                <option value="acc">Sort by Accuracy</option>
                <option value="time">Sort by Time</option>
            </select>
            <div id="table">
                <div id="showData"></div>
            </div>
        </div>
    </div>
</body>

</html>