<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TypeRicer | Play</title>
    <script src="/jquery-3.4.1.js"></script>
    <script src="/medium.js"></script>
    <script src="/jquery.js"></script>
    <script src="/bootstrap.js"></script>
    <link rel="stylesheet" href="/scss/bootstrap.css">
    <script>
        var data = "<%= object %>";
    </script>
    <link rel="stylesheet" href="/GameStyle.css">
</head>

<body onload="setData(data)">

    <div class="modal" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-sm btn-danger" data-dismiss="modal">
                        Close
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                Are you sure you want to Give Up?
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <a href="/typericer/difficulty" id="logoutButton">
                                    <input type="button" class="form-control form-control-sm" value="Yes">
                                </a>
                            </div>
                            <div class="col">
                                <input type="button" class="form-control form-control-sm " value="No"
                                    data-dismiss="modal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="stage">
        <div id="countDown">
            <div id="count"></div>
        </div>

        <div id="mainText"></div>
        <div id="midLine">

        </div>
        <input type="text" id="inputText" placeholder="Type Here" autocomplete="off">

        <div id="time"></div>

        <a href="/typericer/difficulty" id="giveUp" data-toggle="modal" data-target="#modal">
            <div id="giveText">
                Give Up
            </div>
        </a>

        <div id="showStats">
            <ul id="statsList">
                <li id="textBox">
                    Time Spent:
                    <div id="timeStat"></div>
                </li>
                <li id="textBox">
                    Words Per Minute:
                    <div id="wpmStat"></div>
                </li>
                <li id="textBox">
                    Accuracy:
                    <div id="accuracyStat"></div>
                </li>
            </ul>

            <ul id="buttonList">
                <a href="/game/medium" id="restartButton">
                    <li id="btnText">
                        Restart
                    </li>
                </a>

                <a href="/typericer/difficulty" id="nextButton">
                    <li id="btnText">
                        Change Difficulty
                    </li>
                </a>

                <a href="/typericer" id="homeButton">
                    <li id="btnText">
                        Home
                    </li>
                </a>
            </ul>
        </div>
    </div>
</body>

</html>