<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TypeRicer | Ranking</title>
    <script src="/jquery-3.4.1.js"></script>
    <script src="/ranking.js"></script>
    <script>
        var data = "<%= object %>";
    </script>
    <link rel="stylesheet" href="/LeaderboardStyle.css">
</head>

<body onload="setData(data)">
    <div id="stage">
        <div id="sideBar">
            <ul class="ButtonList">
                <a href="/typericer" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText">HOME</p>
                            <img src="/Media/home.png" id="profilePic">
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
                <a href="/typericer/difficulty" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText">PLAY</p>
                            <img src="/Media/play-button.png" id="profilePic">
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
                <a href="/typericer/ranking" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText" class="highlight">RANKINGS</p>
                            <img src="/Media/ranking.png" id="profilePic">
                            <div id="menuLineH"></div>
                        </div>
                    </li>
                </a>
                <a href="/typericer/profile" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText">PROFILE</p>
                            <img src="/Media/avatar.png" id="profilePic">
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
            </ul>
        </div>

        <div id="center">

            <div id="leaderboard">
                RANKINGS
            </div>

            <ul id="difficultyList">
                <li id="difButtons">
                    <button id="easy" onclick="changeDif(0)">
                        EASY
                    </button>
                </li>
                <li id="difButtons">
                    <button id="medium" onclick="changeDif(1)">
                        MEDIUM
                    </button>
                </li>
                <li id="difButtons">
                    <button id="hard" onclick="changeDif(2)">
                        HARD
                    </button>
                </li>
            </ul>

            <select id="sort" onchange="sort();">
                <option value="name">Sort by Name</option>
                <option value="wpm">Sort by WPM</option>
                <option value="acc">Sort by Accuracy</option>
                <option value="time">Sort by Time</option>
            </select>
            <div id="table">
                <div id="showData"></div>
            </div>
        </div>
    </div>
</body>

</html>