<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TypeRicer | Ranking</title>
    <script src="../public/jquery-3.4.1.js"></script>
    <script src="../public/ranking.js"></script>
    <script>
        var data = "<%= object %>";
    </script>
    <link rel="stylesheet" href="../public/AdminLeaderboardStyle.css">
</head>

<body onload="setData(data)">
    <div id="stage">
        <div id="sideBar">
            <ul class="ButtonList">
                <a href="../views/Admin.html" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText">HOME</p>
                            <img src="../public/Media/home.png" id="profilePic">
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
                <a href="../views/AdminDatabase.html" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText" >DATABASE</p>
                            <img src="../public/Media/database.png" id="profilePic">
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
                <a href="../views/AdminRankings.html" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText" class="highlight">RANKINGS</p>
                            <img src="../public/Media/ranking.png" id="profilePic">
                            <div id="menuLineH"></div>
                        </div>
                    </li>
                </a>
                <a href="/" id="menu" class="log" data-toggle="modal" data-target="#modal">
                    <li>
                        <div id="menuText">
                            <p id="profileText">LOGOUT</p>
                            <img src="../public/Media/logout.png" id="profilePic">
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
            </ul>
        </div>

        <div id="center">

            <ul id="sortingList">
                <li id="sortItem">
                    <button id="leaderboard" onclick="change(0)">
                        Leader Board
                    </button>
                </li>
                <li id="sortItem">
                    <button id="rankedText" onclick="change(1)">
                        Ranked Text
                    </button>
                </li>
            </ul>

            <ul id="difficultyList">
                <li id="difButtons">
                    <button id="easy" onclick="changeDif(0)">
                        EASY
                    </button>
                </li>
                <li id="difButtons">
                    <button id="medium" onclick="changeDif(1)">
                        MEDIUM
                    </button>
                </li>
                <li id="difButtons">
                    <button id="hard" onclick="changeDif(2)">
                        HARD
                    </button>
                </li>
            </ul>

            <select id="sort" onchange="sort();">
                <option value="name">Sort by Name</option>
                <option value="wpm">Sort by WPM</option>
                <option value="acc">Sort by Accuracy</option>
                <option value="time">Sort by Time</option>
            </select>
            <div id="table">
                <div id="showData"></div>
            </div>

            <ul id="difficultyListText">
                <li id="difButtons">
                    <button id="easyText" onclick="changeDifText(0)">
                        EASY
                    </button>
                </li>
                <li id="difButtons">
                    <button id="mediumText" onclick="changeDifText(1)">
                        MEDIUM
                    </button>
                </li>
                <li id="difButtons">
                    <button id="hardText" onclick="changeDifText(2)">
                        HARD
                    </button>
                </li>
            </ul>

            <select id="sortTextText" onchange="sort();">
                <option value="text1">Text #1</option>
                <option value="text2">Text #2</option>
                <option value="text3">Text #3</option>
                <option value="text4">Text #4</option>
                <option value="text5">Text #5</option>
            </select>

            <select id="sortText" onchange="sort();">
                <option value="name">Sort by Name</option>
                <option value="wpm">Sort by WPM</option>
                <option value="acc">Sort by Accuracy</option>
                <option value="time">Sort by Time</option>
            </select>
            <div id="table">
                <div id="showData"></div>
            </div>

        </div>
    </div>
</body>

</html>