html,
body {
    background-color: #121212;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

@font-face {
    font-family: "Stolzl";
    src: url("./Stolzl_Display_Normal.otf") format("opentype");
}

@font-face {
    font-family: "Open Sans";
    src: url("./OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url("./RALEWAY-REGULAR.TTF") format("truetype");
}

#stage {
    width: 100%;
    height: 100%;
    position: absolute;
}

#center {
    width: 75%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transform: rotate(0deg);
    border-style: solid;
    border-color: transparent;
    margin: 20px 0px 20px 0px;
    padding: 10px 5px 10px 5px;
    border-width: 2px;
    border-radius: 20px;
}

#add{
    width: auto;
    display: block;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%) rotate(0deg);
    position: relative;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-color: transparent;
    margin: 0px;
    padding: 10px 20px 10px 20px;
    border-width: 2px;
    border-radius: 20px;
    background-color: transparent;
}

#add:hover{
    border-color: #03DAC6;
}

#menu:hover {
    border-color: #03DAC6;

}

#profileText {
    margin: 0px 0px 20px 0px;
}

#menuText {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Stolzl';
    font-size: 20px;
    width: auto;
    height: auto;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    text-align: center
}

.ButtonList {
    list-style: none;
    height: 100%;
    width: 100%;
    position: flex;
    top: 0px;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    display: inline-flex;
    background-color: transparent;
}

#menuLine {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.38);
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menuLineH {
    width: 100%;
    height: 2px;
    background-color: #03DAC6;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sideBar {
    height: 100%;
    width: 150px;
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: transparent;
    z-index: 1;
}

#profilePic {
    margin: 0px 0px 10px 0px;
}

.highlight {
    color: #03DAC6;
}

#menu.log:hover {
    border-color: #F44336;
}

#title{
    color: #BB86FC;
    font-family: 'Stolzl';
    font-size: 48px;
    width: 150px;
    height: 30px;
    position: relative;
    display: flex;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-10%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    text-align: center
}

#textButton{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-style: none;
    color: white;
    text-align: left;
}

#textButton:hover {
    color: yellow;
}

#tableHeader,
td,
p,
input {
    font: 18px 'Raleway';
    
}

#tableHeader {
    width: 250px;
    height: 30px;
    font-weight: bold;
    /* border: solid 1px white; */
    padding: 2px 3px;
    text-align: center;
    color: white;
    position: relative;
    padding: 20px;
    top: 40px;
    /* left: 400px;
    top: 100px; */
}

td {
    width: 250px;
    height: 30px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: white;
    padding: 7px;
    text-align: center;
    color: white;
    position: relative;
    /* left: 400px;
    top: 100px; */
}

select:focus {
    outline: none;
}

#showData {
    width: auto;
    height: 280px;
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
    visibility: visible;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 80px;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: white;   
}

#addData, #deleteData, #updateData {
    visibility: hidden;
}

#table {
    width: 250px;
    height: auto;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    justify-content: center;
    align-content: center;
    text-align: center;
}

@media all and (max-width:430px) {
    #sideBar {
        width: 100%;
        height: 100px;
    }

    .ButtonList {
        flex-direction: row;
    }

    #menuText {
        transform: rotate(0deg);
        flex-direction: column;
        height: auto;
        width: auto;
    }

    #menu {
        height: 40px;
        width: 125px;
        display: inline-flex;
        flex-direction: column;
        transform: rotate(0deg);
        padding: 0px;
    }

    #menuLine,
    #menuLineH {
        flex-direction: column;
        width: 60px;
    }

    #profileText {
        visibility: hidden;
        padding: 0px;
    }

    #profilePic {
        position: absolute;
    }
}