<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TypeRicer | Home</title>

    <link rel="stylesheet" href="/HomeStyle.css">
</head>

<body>
    <div id="stage">
        <div id="back">
            TYPE
            RICER
        </div>
        <div id="sideBar">
            <ul class="ButtonList">
                <a href="/typericer" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText" class="highlight">HOME</p>
                            <img src="/Media/home.png" id="profilePic">
                            <div id="menuLineH"></div>
                        </div>
                    </li>
                </a>
                <a href="/typericer/difficulty" id="menu">
                    <li>
                        <div id="menuText" class="playBtn">
                            <p id="profileText">PLAY</p>
                            <img src="/Media/play-button.png" id="profilePic">
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
                <a href="/typericer/ranking" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText">RANKINGS</p>
                            <img src="/Media/ranking.png" id="profilePic">
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
                <a href="/typericer/profile" id="menu">
                    <li>
                        <div id="menuText">
                            <p id="profileText">PROFILE</p>
                            <img src="/Media/avatar.png" id="profilePic">
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
            </ul>
        </div>
    </div>
</body>

</html>