html,
body {
    background-color: #121212;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

@font-face {
    font-family: "Stolzl";
    src: url("./Stolzl_Display_Normal.otf") format("opentype");
}

@font-face {
    font-family: "Open Sans";
    src: url("./OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url("./RALEWAY-REGULAR.TTF") format("truetype");
}

#stage {
    width: 100%;
    height: 100%;
    position: absolute;
}

#menu.log:hover {
    border-color: #F44336;
}

#menu {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transform: rotate(0deg);
    border-style: solid;
    border-color: transparent;
    margin: 20px 0px 20px 0px;
    padding: 10px 5px 10px 5px;
    border-width: 2px;
    border-radius: 20px;
}

#menu:hover {
    border-color: #03DAC6;

}

#profileText {
    margin: 0px 0px 20px 0px;
}

#menuText {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Stolzl';
    font-size: 20px;
    width: auto;
    height: auto;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    text-align: center
}

#title {
    color: #BB86FC;
    font-family: 'Stolzl';
    font-size: 20px;
    width: auto;
    height: auto;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    text-align: center
}

.ButtonList {
    list-style: none;
    height: 100%;
    width: 100%;
    position: flex;
    top: 0px;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    display: inline-flex;
    background-color: transparent;
}

#menuLine {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.38);
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menuLineH {
    width: 100%;
    height: 2px;
    background-color: #03DAC6;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sideBar {
    height: 100%;
    width: 150px;
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: transparent;
    z-index: 1;
}

#profilePic {
    margin: 0px 0px 10px 0px;
}

.highlight {
    color: #03DAC6;
}





/* ADDED */
th,
td,
p,
input {
    font: 14px 'Raleway';
}

th {
    font-weight: bold;
    border: solid 1px white;
    padding: 2px 3px;
    text-align: center;
    color: white;
    position: relative;
    /* left: 400px;
    top: 100px; */
}

td {
    width: auto;
    border: solid 1px white;
    padding: 2px 3px;
    text-align: center;
    color: white;
    position: relative;
    /* left: 400px;
    top: 100px; */
}

#sort {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    display: flex;
    font-size: 16px;
    font-family: 'Open Sans';
    color: white;
    background-color: #121212;
    padding: 10px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: white;
    text-decoration: none;
    visibility: hidden;

}

select:focus {
    outline: none;
}

#showData {
    width: auto;
    height: 233px;
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 10px;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: white;   
}

#table {
    width: 300px;
    height: auto;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    justify-content: center;
    align-content: center;
    text-align: center;
}

#center {
    width: 70%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sortingList {
    padding: 10px;
    margin: 0px;
    width: auto;
    height: auto;
    list-style: none;
    position: relative;
    flex-direction: row;
    display: flex;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -15%);
    align-content: center;
    justify-content: center;
    text-align: center;
}

#sortItem {
    margin: 10px;
    position: flex;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: auto;
}

#leaderboard{
    width: 300px;
    padding: 10px;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    height: auto;
    position: relative;

    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: #03DAC6;
    font-family: 'Stolzl';
    font-size: 48px;

    background-color: transparent;

}


#difficultyList {
    padding: 10px;
    margin: 0px;
    width: auto;
    height: auto;
    list-style: none;
    position: relative;
    flex-direction: row;
    display: flex;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -15%);
    align-content: center;
    justify-content: center;
    text-align: center;
}

#difButtons {
    margin: 10px;
    /* left: 50%;
    top: 30%;
    transform: translate(-50%,-30%); */
    position: flex;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: auto;
}

#easy,
#medium,
#hard {
    width: auto;
    height: 50px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Raleway';
    font-size: 28px;
    cursor: pointer;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: white;
}

button:focus,
input:focus {
    outline: none;
}

#sortText,
#sortTextText {
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    display: flex;
    font-size: 16px;
    font-family: 'Open Sans';
    color: white;
    background-color: #121212;
    padding: 10px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: white;
    text-decoration: none;
    visibility: hidden;

}

@media all and (max-width:580px) {
    #sideBar {
        width: 100%;
        height: 100px;
    }

    .ButtonList {
        flex-direction: row;
    }

    #menuText {
        transform: rotate(0deg);
        flex-direction: column;
        height: auto;
        width: auto;
    }

    #menu {
        height: 40px;
        width: 125px;
        display: inline-flex;
        flex-direction: column;
        transform: rotate(0deg);
    }

    #menuLine,
    #menuLineH {
        flex-direction: column;
        width: 60px;
    }

    #profileText {
        visibility: hidden;
        padding: 0px;
    }

    #profilePic {
        position: absolute;
    }

    #leaderboard{
        left: 50%;
        top: 15%;
        transform: translate(-50%, -15%);
    }
}