html,
body {
    background-color: #121212;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

@font-face {
    font-family: "Stolzl";
    src: url("./Stolzl_Display_Normal.otf") format("opentype");
}

@font-face {
    font-family: "Open Sans";
    src: url("./OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url("./RALEWAY-REGULAR.TTF") format("truetype");
}

#stage {
    width: 100%;
    height: 100%;
    position: absolute;
}

#menu { 
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transform: rotate(0deg);
    border-style: solid;
    border-color: transparent;
    margin: 20px 0px 20px 0px;
    padding: 10px 5px 10px 5px;
    border-width: 2px;
    border-radius: 20px;
}

#menu:hover{
    border-color: #03DAC6;
    
}

#profileText {
    margin: 0px 0px 20px 0px;
}

#menuText {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Stolzl';
    font-size: 20px;
    width: auto;
    height: auto;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    text-align: center
}

.ButtonList {
    list-style: none;
    height: 100%;
    width: 100%;
    position: flex;
    top: 0px;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    display: inline-flex;
    background-color: transparent;
}

#menuLine {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.38);
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menuLineH {
    width: 100%;
    height: 2px;
    background-color: #03DAC6;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sideBar {  
    height: 100%;
    width: 150px;
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: transparent;
    z-index: 1;
}

#center {
    width: 50%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#centerText {
    font-family: 'Raleway';
    position: relative;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -15%);
    color: #EEEEEE;
    text-align: center;
    font-size: 32px;
}

.DifficultyList {
    list-style: none;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    height: auto;
    width: 100%;
    position: relative;
    padding: 0px;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    text-align: center;
    display: flex;
    background-color: transparent;
    font-family: 'Open Sans';
    font-size: 24px;
    color: #eeeeee;
}

#easyLevel,
#medLevel,
#hardLevel {
    width: auto;
    height: auto;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 3px 0px;

    position: relative;
    margin: 25px;
    padding: 5px;
    align-content: center;
    justify-content: center;
    font-family: 'Open Sans';
}

#start {
    width: 150px;
    height: 80px;
    border-style: solid;
    border-color: white;
    font-size: 32px;
    border-width: 0px 3px 0px 3px;
    cursor: pointer;
    /* left: 50%;
    top: 80%;
    transform: translate(-50%,-80%); */
    position: relative;
    font-family: 'Stolzl';
    color: white;
    text-align: center;
    border-color: #4CAF50;

}

#start:hover {
    border-color: #03DAC6;
    color: #03DAC6;
}


#startText {
    padding: 0px;
    margin: 20px;
    height: 40px;
}

#startBox {
    visibility: hidden;
    width: auto;
    height: 125px;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -90%);
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #BB86FC; */
    border: 2px;
    text-decoration: none;
}

#button {
    background-color: transparent;
    font-family: 'Raleway';
    font-size: 24px;
    color: #eeeeee;
    border-style: none;
    height: auto;
    width: auto;
    position: relative;
    cursor: pointer;
}

button:focus,
input:focus {
    outline: none;
}

#profilePic {
    margin: 0px 0px 10px 0px;
}

#back {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    color: rgba(255, 255, 255, 0.009);
    font-family: 'Stolzl';
    font-size: 500px;
    line-height: 75%;
    text-align: center;
    justify-content: center;
    align-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#desc {
    font-size: 20px;
    color: #4CAF50;
    /*#4CAF50 for Easy, #FFEB3B for Medium,  #F44336 for Hard*/
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    font-family: 'Raleway';
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.highlight {
    color: #03DAC6;
}

@media all and (max-width:430px) {

    #desc{
        font-size: 16px;
    }

    #easyLevel,
    #medLevel,
    #hardLevel {
        width: auto;
    }

    #sideBar {
        width: 100%;
        height: 100px;
    }

    .ButtonList {
        flex-direction: row;

    }

    #menuText {
        transform: rotate(0deg);
        flex-direction: column;
        height: auto;
        width: auto;
    }

    #menu {
        height: 40px;
        width: 125px;
        display: inline-flex;
        flex-direction: column;
        transform: rotate(0deg);
    }

    #menuLine,
    #menuLineH {
        flex-direction: column;
        width: 60px;
    }

    #profileText {
        visibility: hidden;
        padding: 0px;
    }

    #profilePic {
        position: absolute;
    }

    #centerText {
        top: 20%;
    }

    #startBox {
        top: 98%;
        left: 50%;
        transform: translate(-50%, -98%);
    }
}

@media all and (max-width:640px) {
    #startBox {
        top: 98%;
        left: 50%;
        transform: translate(-50%, -98%);
    }

    .DifficultyList {
        flex-direction: column;
    }

    #easyLevel,
    #medLevel,
    #hardLevel {
        width: 60%;
        margin: 20px 0px 20px 0px;
        left: 50%;
        transform: translate(-50%);
    }

    #desc {
        left: 50%;
        top: 15%;
        transform: translate(-50%, -15%);
    }
}