html,
body {
    background-color: #121212;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

@font-face {
    font-family: "Stolzl";
    src: url("./Stolzl_Display_Normal.otf") format("opentype");
}

@font-face {
    font-family: "Open Sans";
    src: url("./OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url("./RALEWAY-REGULAR.TTF") format("truetype");
}

#stage {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: 'Open Sans';
}

#menu {
    width: 100px;
    height: 100px;
    /* left: 0px;
    top: 50%;
    transform: translate(0%,-50%); */
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #BB86FC; */
    border: 2px;
    text-decoration: none;

}

#time {
    font-family: 'Stolzl';
    color: #03DAC6;
    font-size: 48px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    position: relative;
    display: flex;
    padding: 20px;
    width: auto;
    height: auto;
    text-align: center;
    justify-content: center;
    align-content: center;
}

#menuText {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Stolzl';
    font-size: 20px;
    /* left: 0px;
    top: 50%; */
    transform: translate(0%, -50%) rotate(-90deg);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.ButtonList {
    list-style: none;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    padding: 0px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    display: flex;
    background-color: transparent;
}

#menuLine {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.38);
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#menuLineH {
    width: 100%;
    height: 2px;
    background-color: #03DAC6;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#sideBar {
    height: 100%;
    width: 100px;
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #BB86FC;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #BB86FC;
}

#topHalf {
    top: 0px;
    width: 80%;
    height: 40%;
    position: absolute;
    padding: 5% 10% 5% 10%;
    color: #BB86FC;
    font-family: 'Open Sans';
    left: 50%;
    transform: translate(-50%);
}

#mainText {
    width: 80%;
    height: 30%;
    margin: 5% 10% 5% 10%;
    font-size: 24px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.6);
    /* color: #FFEB3B; */
    overflow-y: scroll;
}

textarea:focus,
input:focus {
    outline: none;
}

#midLine {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.38);
    width: 70vw;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -0%);
    position: relative;
}

#bottomHalf {
    bottom: 0px;
    width: 80%;
    height: 40%;
    position: absolute;
    padding: 5% 10% 5% 10%;
    left: 50%;
    transform: translate(-50%);
}

#inputText {
    position: relative;
    display: flex;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    
    background-color: transparent;
    color: rgb(255, 110, 236);
    font-family: 'Raleway';
    font-size: 32px;
    border: rgba(255, 255, 255, 1);
    text-align: center;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    padding: 10px;
    height: auto;
    width: 25%;
}

#showStats {
    width: 100%;
    height: 50%;
    bottom: 0%;
    left: 0%;
    position: absolute;
    background-color: #121212;
}

#statsList {
    list-style: none;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    position: relative;
    display: flex;
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: 'Stolzl';
    font-size: 28px;
}

#textBox {
    margin: 0px 50px 0px 50px;
}

#buttonList {
    list-style: none;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    position: relative;
    display: flex;
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: 'Stolzl';
    font-size: 28px;
}

#restartButton, #nextButton, #homeButton {
    width: auto;
    height: auto; 
    margin: 0px 50px 0px 50px;
    text-decoration: none;
    border-style: solid;
    border-width: 0px 3px 0px 3px;
    border-color: white;
    padding: 10px 20px 10px 20px;
    color: white;
}

#countDown {
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.5);
    position: absolute;
    color: white;
    font-family: 'Stolzl';
    font-size: 550px;
    line-height: 75%;
    text-align: center;
    justify-content: center;
    align-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: 0;
}

#count {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#btnText{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

#giveUp{
    width: 100px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%,-95%);
    background-color: transparent;
    text-align: center;
    justify-content: center;
    align-content: center;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 3px 0px;
    text-decoration: none;
}

#giveText{
    font-family: 'Stolzl';
    font-size: 20px;
    color: #F44336;
}

#textTitle{
    width: 200px;
    text-align: center;
    height: auto;
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translate(-50%,-1%);
    font-family: 'Stolzl';
    color: white;
    font-size: 12px;
}

#end, #endButton {
    visibility: hidden;
}
/* .gradient {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom,
            #121212,
            #000000);
    z-index: 1;
}

.gradient::before {
    position: relative;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,
            #000000, #090909, #131313, #1a1a1a, #202020);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}

.gradient:hover::before {
    opacity: 1;
} */

@media all and (max-width:800px) {
    #mainText {
        height: 45%;
    }

    #inputText {
        width: 50%;
    }

    #time{
        top: 13%;
        transform: translate(-50%,-13%);
    }
}

.highlight {
    color: #FFEB3B;
}

.done {
    color: #4CAF50;
}

@media all and (max-width:700px) {
    #postButton {
        margin: 0px 20px 0px 20px;
        font-size: 20px;
    }

    #textBox{
        margin: 0px 20px 0px 20px;
        font-size: 20px;
    }
}

@media all and (max-width:500px) {
    #postButton, #textBox{
        margin: 0px 10px 0px 10px;
        font-size: 16px;
    }
}