<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TypeRicer | Difficulty</title>

    <link rel="stylesheet" href="DifficultyStyle.css">
</head>

<body>
    <div id="stage">
        <div id="sideBar">
            <ul class="ButtonList">
                <a href="../TypeRicer/Home.html" id="menu">
                    <li>
                        <div id="menuText">
                            HOME
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
                <a href="../TypeRicer/Difficulty.html" id="menu">
                    <li>
                        <div id="menuText">
                            PLAY
                            <div id="menuLineH"></div>
                        </div>
                    </li>
                </a>
                <a href="../TypeRicer/Leaderboard.html" id="menu">
                    <li>
                        <div id="menuText">
                            LEADER BOARD
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
                <a href="../TypeRicer/Profile.html" id="menu">
                    <li>
                        <div id="menuText">
                            PROFILE
                            <div id="menuLine"></div>
                        </div>
                    </li>
                </a>
            </ul>
        </div>

        <div id="center">
            


            <div id="centerText">
                CHOOSE DIFFICULTY
            </div>

            <ul class="DifficultyList">
                <li>
                    <div id="easyLevel">
                        EASY
                    </div>
                </li>
                <li>
                    <div id="medLevel">
                        MEDIUM
                    </div>
                </li>
                <li>
                    <div id="hardLevel">
                        HARD
                    </div>
                </li>

            </ul>
            <a href="../TypeRicer/Game.html" id="startBox">
                <div id="start">
                    <p id="startText">START</p>
                </div>
            </a>
        </div>

    </div>


</body>

</html>